body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, #83a4d4 ,#83a4d5);
    color: #303030;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.form {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 25px;
}

.login-input {
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    margin-bottom: 20px;
}

.login-button {
    border: none;
    background: #ff7e5f;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    border-radius: 3px;
}

.login-button:hover {
    background: #f0e130;
}

.link {
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.link a {
    color: #ff6b6b;
}